
{{#each posts as |post|}}
  <div class="row mb-4 post-card">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            <!-- Call helper function with triple brackets to render the emoji span as HTML -->
            {{{get_emoji}}}
            <a href="/post/{{post.id}}">{{post.title}}</a>
          </h2>
          <p class="card-subtitle text-muted">Created by {{User.firstName}} {{User.lastName}}</p>
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
