<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by
    {{User.firstName}}
    {{User.lastName}}
    on
    {{format_date p.createdAt}}
  </p>
  <button id="comment-button" class="btn btn-primary">Comment</button>
  <button id="edit-button" class="btn btn-primary">Edit Post</button>
  <button id="delete-button" class="btn btn-primary">Delete Post</button>
</div>
  {{#each Comments as |comment|}}
  {{/each}}
  <p class="comment-container">
    {{content}} 
    Comment by {{User.firstName}}
    {{User.lastName}} on
    {{format_date createdAt}}
  </p>
</div>
<div id="comment-section" class="hide">
  <h3>Leave a comment</h3>
  <div id="comment-div">
    <textarea id="comment-form" data-post_id="{{id}}"> </textarea>
    <button id="submit-button" class="btn btn-primary">Submit</button>
  </div>
</div>
<script src="../js/comment.js"></script>