<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by
    {{User.firstName}}
    {{User.lastName}}
    {{!-- {{format_date date_created}} --}}
  </p> 
  {{#each Comments as |comment|}}
    The Section below should contain the comments
    {{content}}
  {{/each}}
  <p>
    <button id="comment-button" class="btn btn-primary">Comment</button>
  </p>
</div>
<div id="comment-section" class="hide">
  <h3>Leave a comment</h3>
  <div>
    <textarea id="comment-form" data-post_id="{{id}}"> </textarea>
    <button id="submit-button" class="btn btn-primary">Submit</button>
  </div>
</div>
<script src="../js/comment.js"></script>
